// Enable Docker globally
docker {
    enabled = true
}

// Define profiles
profiles {
    docker {
        process.executor = 'local'
        docker.enabled = true
    }
}

// Parameters
params {
    // SRA accessions
    accessions = "./accession_list.csv"

    // Output folder
    outdir = 'results'
}

// Global process settings
process {
    cpus = 2
    memory = '2 GB'
    errorStrategy = 'retry'
    maxRetries = 2

    withName: 'DOWNLOAD_FASTQ' {
        cpus = 2
        memory = '4 GB'
        time = '2.h'
    }
}